#canvasObj {
    width: 60%;
    display: flex;
    margin: 0 auto 0;
}

body {
    margin: 0;
}

.footer {
    height: 300px;
    background-color: rgb(0,0,0);
    font-family: Helvetica, sans-serif;
    display: flex;
}
  
.footer-name {
    color: white;
    font-size: 18px;
    margin: auto 5vh;
}

.footer-text {
    color: rgb(182, 178, 178);
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    margin: auto 15px;  
}
