#canvasObj {
    width: 60%;
    display: flex;
    margin: 0 auto 0;
}

body {
    margin: 0;
}


.footer {
    height: 300px;
    background-color: rgb(0,0,0);
    display: flex;
  }
  
.footer-author {
    color: white;
    font-size: 24px;
    margin: auto;
  }