#canvasObj {
    width: 60%;
}

body {
    margin: 0;
}

.content {
    width: 100%;
    height: 100%;
    background-color: magenta;
    display: flex;
}

.footer {
    height: 300px;
    background-color: rgb(0,0,0);
    display: flex;
  }
  
.footer-author {
    color: white;
    font-size: 24px;
    margin: auto;
  }